body{
   
  background-image: url("../images/mooncat.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
  background-color: #030108;
}


h2{

  text-align: center;
  color: antiquewhite;
  font-size: 36px;
}

#youtubeRow{

  height:420px;
  margin:0px;
}

h3{

  text-align: center;
  color: antiquewhite;
  font-size: 36px;
  background-color: #7b1fa2;
  padding: 10px;
  margin-right: 125px;
  margin-left: 125px;
  border-radius: 25px;

}

#youtubeBox{
  height: 310px;
  width: 560px;
  padding: 5px;
}

#inputDiv{

  width: 400px;

}

  #artistName{
    color: rgb(0, 0, 0);
    background-color: #7b1fa2;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  #searchButton{

    border-radius: 5px;

  }

       
  footer{
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    flex: 1 0 auto;
  }

