body{
   
  background-image: url("../images/mooncat.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
  background-color: #030108;
}

#youtubeRow{

  height:420px;
  margin:0px;
  

}

#youtubeBox{
  height: 310px;
  width: 560px;
  padding: 5px;
}


  #artistName{
    color: rgb(0, 0, 0);
    background-color: rgb(142, 44, 184);
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
       
  footer{
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    flex: 1 0 auto;
  }

